<h3>
  <%= link_to @event.name, admin_event_path(@event)%> 
  >
  <%= link_to @activity.name, admin_event_activity_path(@event, @activity)%>
  >
  <%= link_to @lottery.name, admin_event_activity_lotteries_path(@event, @activity)%>
  >
  建立獎品
</h3>

<h3>
獎品列表 <%=link_to "+建立新獎品", new_admin_event_activity_lottery_prize_path, :class => "btn btn-success"%>
</h3>

<table class="table">
  <tr>
    <td>logo</td>
    <td>獎品名稱</td>
    <td>抽獎title</td>
    <td>價格（NTD)</td>
    <td>品牌</td>
    <td>經銷商</td>
    <td>數量</td> 
    <td>編輯</td>
    <td>刪除</td>
  </tr>
  <% @prizes.each do |prize|%>
    <tr>
      <td><%= image_tag(prize.logo.url(:thumb))%></td>
      <td><%= link_to prize.name, admin_event_activity_lottery_prize_path(prize.lottery.activity.event, prize.lottery.activity, prize.lottery, prize)%></td>
      <td><%= prize.lottery.name %></td>
      <td><%= prize.price %></td>
      <td><%= prize.brand %></td>
      <td><%= prize.vendor %></td>
      <td><%= prize.quatity %></td>
      <td><%= link_to "Edit", edit_admin_event_activity_lottery_prize_path(prize.lottery.activity.event, prize.lottery.activity, prize.lottery, prize), :class => " btn btn-success btn-sm"%></td>
      <td><%= link_to "Delete", admin_event_activity_lottery_prize_path(prize.lottery.activity.event, prize.lottery.activity, prize.lottery, prize), :method => :delete, :class => " btn btn-danger btn-sm", :data => {:confirm => "are_you_sure" } %></td>
    </tr>
  <%end%>  
</table>