<h3>
<%= link_to "策展列表", admin_events_path%> 
> 
<%= @event.name%>
</h3> 

<h2>
  策展名稱：：<%= @event.name%> <%= link_to "編輯", edit_admin_event_path(@event), :class => "btn btn-success" %>
</h2>
<hr>
<div id="event-image">
  <div id="event-banner" 
    <% if @event.banner.exists? %>
      style="background-image:url(<%= @event.banner.url(:original)%>)"

    <%else%>
      <h1 class = "text-center">
        <%= link_to "請新增banner圖片（底圖）", edit_admin_event_path(@event), :class => "btn btn-success btn-lg " %>
      </h1>
      
    <%end%>
  >
  </div>

  <div id="event-logo">
    <% if @event.logo.exists? %>
      <%= image_tag(@event.logo.url(:medium))%>

    <%else%>
      <h1 class = "text-center">
        <%= link_to "請新增 logo(小圖)", edit_admin_event_path(@event), :class => "btn btn-success btn-lg " %>
      </h1>
    <%end%>
  </div>
</div>  


<hr>
  <h1 class = "text-center">
  支持策展活動 
  <%= link_to "策展活動列表", admin_event_activities_path(@event), :class => "btn btn-info" %> 
  <%= link_to "+建立活動", new_admin_event_activity_path(@event), :class => "btn btn-success" %>
  </h1>

<div class="row">
  <h3>已上架活動：</h3>
  <% @public_activities.each do |a|%>
    <div class="col-md-3 event-activity-logo">
      <%= link_to admin_event_activity_path(@event,a) do%>
        活動名稱：<%= a.name%>
        <div class="event-activity-logo-photo"
          style="background-image:url(<%= a.logo_in_event.url(:original)%>"
        >
          <%if a.description%>
            活動敘述：
            <%if a.description.size < 100%>
              <div class="hover_item">
                <%= strip_tags(a.description)%>
              </div>  
            <%else%>
              <div class="hover_item">
                <%= strip_tags(a.description[0,100])%>
              </div>
            <%end%>
          <%else%>
            活動敘述：
            <h3 class="hover_item">尚未有活動敘述!</h3>
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>
</div>

<div class="row">
  <h3>隱藏活動：</h3>
  <br>
  <% @hide_activities.each do |a|%>
    <div class="col-md-3 event-activity-logo">
      <%= link_to admin_event_activity_path(@event,a) do%>
        活動名稱：<%= a.name%>
        <div class="event-activity-logo-photo"
          style="background-image:url(<%= a.logo_in_event.url(:original)%>"
        >
          <%if a.description%>
            活動敘述：
            <%if a.description.size < 100%>
              <div class="hover_item">
                <%= strip_tags(a.description)%>
              </div>  
            <%else%>
              <div class="hover_item">
                <%= strip_tags(a.description[0,100])%>
              </div>
            <%end%>
          <%else%>
            活動敘述：
            <h3 class="hover_item">尚未有活動敘述!</h3>
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>
</div>

<div class="row">
  <h3>已刪除活動：</h3>
  <br>
  <% @delete_activities.each do |a|%>
    <div class="col-md-3 event-activity-logo">
      <%= link_to admin_event_activity_path(@event,a) do%>
        活動名稱：<%= a.name%>
        <div class="event-activity-logo-photo"
          style="background-image:url(<%= a.logo_in_event.url(:original)%>"
        >
          <%if a.description%>
            活動敘述：
            <%if a.description.size < 100%>
              <div class="hover_item">
                <%= strip_tags(a.description)%>
              </div>  
            <%else%>
              <div class="hover_item">
                <%= strip_tags(a.description[0,100])%>
              </div>
            <%end%>
          <%else%>
            活動敘述：
            <h3 class="hover_item">尚未有活動敘述!</h3>
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>
</div>

<script>
  $(document).ready(function(){
    console.log("hwllo");
    $(".event-activity-logo-photo").mouseover(function(){
      console.log("haha");
      $(this).find('.hover_item').css("opacity","1");
      // $(".hover_item").css("opacity","1");
    });
    $(".event-activity-logo-photo").mouseout(function(){
      console.log("kerek");
      $(".hover_item").css("opacity","0");
    });
  });
</script>
