<h3>
<%= link_to "策展列表", admin_events_path%> 
> 
<%= @event.name%>
</h3> 

<h2>
  策展名稱：<%= @event.name%> <%= link_to "編輯", edit_admin_event_path(@event), :class => "btn btn-success" %>
</h2>
<hr>
<div class="div" id="event-logo">
  <% if @event.logo.exists? %>
    <%= image_tag(@event.logo.url(:original))%>

  <%else%>
    <h1 class = "text-center">
      <%= link_to "新增圖片", edit_admin_event_path(@event), :class => "btn btn-success btn-lg " %>
    </h1>
    
  <%end%>
</div>

<hr>
  <h1 class = "text-center">支持自己喜歡的藝人</h1>
<hr>


<hr>
  <h1 class = "text-center">
  支持策展活動 
  <%= link_to "策展活動列表", admin_event_activities_path(@event), :class => "btn btn-info" %> 
  <%= link_to "+建立活動", new_admin_event_activity_path(@event), :class => "btn btn-success" %>
  </h1>

<div class="row">
  <h3>已上架活動：</h3>
  <% @public_activities.each do |a|%>
    <div class="col-md-3 event-activity-logo">
      <%= link_to admin_event_activity_path(@event,a) do%>
        活動名稱：<%= a.name%>
        <br>
        <%= image_tag(a.logo.url(:thumb))%>
        <br>
        活動資訊：
        <%if a.information.size < 100%>
          <div class="div">
            <%= strip_tags(a.information)%>
          </div>  
        <%else%>
          <div class="div">
            <%= strip_tags(a.information[0,100])%>
          </div>
        <%end%>
      <%end%>
    </div>
  <%end%>
</div>

<div class="row">
  <h3>隱藏活動：</h3>
  <br>
  <% @hide_activities.each do |a|%>
    <div class="col-md-3 event-activity-logo">
      <%= link_to admin_event_activity_path(@event,a) do%>
        活動名稱：<%= a.name%>
        <br>
        <%= image_tag(a.logo.url(:thumb))%>
        <br>
        活動資訊：
        <%if a.information.size < 100%>
          <div class="div">
            <%= strip_tags(a.information)%>
          </div>  
        <%else%>
          <div class="div">
            <%= strip_tags(a.information[0,100])%>
          </div>
        <%end%>
      <%end%>
    </div>
  <%end%>
</div>

<div class="clearfix"></div>
<hr>
<div class="col-md-6 col-md-offset-3 text-center">
  <h3>策展敘事</h3>
  <%=raw @event.content%>
</div>
