<div class="form-group h3">
  <%= f.label :name ,"藝人名稱"%>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
    <%=f.label :logo, "照片"%>
    <%=f.file_field :logo%>

    <% if @artist.logo.exists? %>
      <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
    <% end %>
</div>

<div class="form-group h3">
  <%= f.label :fb_link ,"FB"%>
  <%= f.text_field :fb_link, :class => "form-control" %>
</div>

<div class="form-group h3">
  <%= f.label :youtube_link ,"Youtube"%>
  <%= f.text_field :youtube_link, :class => "form-control" %>
</div>

<div class="form-group h3">
  <%= f.label :ig_link ,"IG"%>
  <%= f.text_field :ig_link, :class => "form-control" %>
</div>

<div class="form-group h3">
  <%= f.label :webo_link ,"Webo"%>
  <%= f.text_field :webo_link, :class => "form-control" %>
</div>


<hr></hr>

<%= f.submit "更新",:class => "btn btn-primary" %>

<hr>