<h1>訂單列表</h1>

<table class="table">
  <tr>
    <td>User ID</td>
    <td>Order_number</td>
    <td>商品shopify_id</td>
    <td>商品名稱</td>
    <td>商品規格</td>
    <td>商品數量</td>
    <td>單價</td> 
    <td>運送方式</td>
    <td>運費</td>
    <td>總額</td>
    <td>貨幣單位</td>
    <td>出貨</td>
    <td>取消時間</td> 
  </tr>
  <% @orders.each do|order|%>
    <tr>
      <td><%= order.user_id%></td>
      <td><%= order.order_number%></td>
      <td><%= order.product_id%></td>
      <td><%= order.product_name%></td>
      <td><%= order.product_variant_title%></td>
      <td><%= order.product_quantity%></td>
      <td><%= order.product_price%></td>
      <td><%= order.shipping_method%></td>
      <td><%= order.shipping_price%></td>
      <td><%= order.total_price%></td>
      <td><%= order.currency%></td>
      <td><%= order.fulfillment_status%></td>
      <td><%= order.cancelled_at%></td> 
    </tr>
  <%end%>

</table>
