<%if @index_params == "activity"%>
  <h3>
  <%= link_to @event.name, admin_event_path(@event)%> 
  >
  <%= link_to "活動列表", admin_event_activities_path(@event)%> 
  >
  <%= link_to @activity.name, admin_event_activity_path(@event,@activity)%>
  >
  商品列表 <%= link_to "+建立新商品", new_admin_event_activity_merchant_path(@event,@activity), :class => "btn btn-success" %>
  </h3>

<%else%>
  <h3>所有商品列表</h3>
<%end%>

<table class="table">
  <tr>
    <td>商品名稱</td>
    <td>策展活動</td>
    <td>商品頁面</td>
    <td>編輯</td>
    <td>刪除</td>
  </tr>
  <%@merchants.each do |merchant|%>
    <tr>
      <td>
        <% if merchant.merchantable_type == "Activity" %>
          <%= link_to merchant.name, admin_event_activity_merchant_path(merchant.merchantable.event,merchant.merchantable,merchant) %>
        <%else%>
          <%= link_to merchant.name,admin_merchant_path(merchant)%>
        <%end%>
      </td>
      <td>
        <%if merchant.merchantable%>
          <%= link_to merchant.merchantable.name, admin_event_activity_path(merchant.merchantable.event,merchant.merchantable)%>
        <%else%>
          "尚未安排"
        <%end%>
      </td>
      <td>
        <% if merchant.merchantable_type == "Activity" %>
          <%= link_to "Show", admin_event_activity_merchant_path(merchant.merchantable.event,merchant.merchantable,merchant), :class => "btn btn-primary"%>
        <%else%>

        <%end%>
      </td>
      <td>
        <% if merchant.merchantable_type == "Activity" %>
          <%= link_to "Edit", edit_admin_event_activity_merchant_path(merchant.merchantable.event,merchant.merchantable,merchant), :class => "btn btn-success" %>
        <%else%>
          <%= link_to "Edit",admin_merchant_path(merchant), :class => "btn btn-success" %>
        <%end%>
      </td>
      <td>
        <% if merchant.merchantable_type == "Activity" %>
          <%= link_to "Delete", admin_event_activity_merchant_path(merchant.merchantable.event,merchant.merchantable,merchant), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "are_you_sure" } %>
        <%else%>
        <%end%>
      </td>
    </tr>
  <%end%>

</table>