<%if @merchant.merchantable_type == "Activity"%>
  <h3>
  <%= link_to @event.name, admin_event_path(@event)%> 
  >
  <%= link_to "活動列表", admin_event_activities_path(@event)%> 
  >
  <%= link_to @activity.name, admin_event_activity_path(@event,@activity)%>
  >
  <%= link_to "活動商品列表", admin_event_activity_merchants_path(@event,@activity)%> 
  >
  <%= @merchant.name%>
  </h3>

  <h1>商品介紹</h1>

  <div class="row" id="merchant-show">
    <div class="col-md-8">
      <h2>
        <%=@merchant.name%>
        <%= link_to"編輯", edit_admin_event_activity_merchant_path(@event,@activity,@merchant), :class =>"btn btn-success btn-lg" %>
        <%#= link_to "刪除", admin_event_activity_merchant_path(@event,@activity, @merchant), :method => :delete, :class => "btn btn-danger btn-sm", :data => {:confirm => "are_you_sure" }%>
      </h2>
      <h3>商品banner</h3> 
      <div id="merchant-show-banner">
        <% if @merchant.banner.exists? %>
          <%= image_tag(@merchant.banner.url(:original))%>
        <%else%>
          <%= link_to"新增圖片", edit_admin_event_activity_merchant_path(@event,@activity,@merchant), :class =>"btn btn-success btn-lg" %>
        <%end%>
      </div>
      

      <h3>商品內容</h3>
      <%= raw @merchant.content%>
      
    </div>
    <div class="col-md-4">
      <h1>
        商品購買資訊
      </h1>
      <h3>商品敘述：<%= simple_format @merchant.description%></h3>
      <h3>商品logo:</h3> 
      <% if @merchant.logo.exists? %>
        <%= image_tag(@merchant.logo.url(:medium))%>
      <%else%>
        <%= link_to"新增圖片", edit_admin_event_activity_merchant_path(@event,@activity,@merchant), :class =>"btn btn-success btn-lg" %>
      <%end%>
      <br> 
      <h4>規格:</h4>
      <%@merchant.specs.each do |spec|%>
        <h4>
          <%= spec.name%>
          <%= select_tag "#{spec.name} 選項", options_for_select(spec.selections.map{ |u| [u.name, u.name] }) %>
        </h4>
      <%end%>
      
      <h2>單價: $ <%= @merchant.price%></h2>
      <hr>
    </div>
  </div>

<%else%>
  <h3>
  尚未安排商品類型
  >
  <%= link_to "所有商品列表", admin_merchants_path%> 
  >
  <%= @merchant.name%>
  </h3>
  
  <%= simple_form_for @merchant, :url => admin_merchant_path(@merchant) do |f| %>
    <%= render :partial => 'assign_type', :locals => { :f => f} %>
  <% end %>



<%end%>
