<h1>
<%= link_to @event.name, admin_event_path(@event)%> 
>
<%= link_to "活動列表", admin_event_activities_path(@event)%> 
>
<%= link_to @activity.name, admin_event_activity_path(@event, @activity)%>
>
編輯抽獎：
</h1>

<h1>編輯抽獎</h1>

<%= form_for @lottery, :url => admin_event_activity_lottery_path(@event, @activity, @lottery) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f} %>
<% end %>
