<h3>
<%=link_to "抽獎列表", admin_lotteries_path%>
>
<%= @lottery.activity.name%>-<%= @lottery.name %> 
</h3>

<h4>中獎名單</h4>

<%= link_to "重新抽獎", winners_list_admin_lottery_path(@lottery, :filter => 'refresh'),:class => "btn btn-danger pull-right", :data => {:confirm => "確定重抽？" }%>
<%= link_to "清空", winners_list_admin_lottery_path(@lottery, :filter => 'clean'),:class => "btn btn-primary pull-right", :data => {:confirm => "確定清空中獎人？" }%>

<table class="table">
  <tr>
    <td>中獎人登記姓名</td>
    <td>中獎人ID </td>
    <td>中獎人登記電話</td>
    <td>中獎人登記住址</td>
    <td>中獎人登記生日</td>
  </tr>
  <%@winners.each do |winner|%>
    <tr>
      <td><%= UserLotteryShip.find_by(:user_id => winner.id).user_name%></td>
      <td><%= winner.id%></td>
      <td><%= UserLotteryShip.find_by(:user_id => winner.id).user_phone_number%></td>
      <td><%= UserLotteryShip.find_by(:user_id => winner.id).user_address%></td>
      <td><%= UserLotteryShip.find_by(:user_id => winner.id).user_birthday%></td>
    </tr>
  <%end%>
</table>