<div class="form-group">
  <h2><%= f.label :name ,"活動名稱"%></h2>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<h1>策展頁-活動資訊</h1>
<hr>
<div class="form-group">
  <h2><%=f.label :logo_in_event, "策展頁的活動logo"%></h2>
  <br>
  <% if @activity.logo_in_event.exists? %>
    <%= image_tag(@activity.logo_in_event.url(:medium))%>
  <%else%>
    <div style="color:red;">
      <%= "尚未有圖片"%>
    </div>  
  <% end %>

  <%=f.file_field :logo_in_event%>
  <% if @activity.logo_in_event.exists? %>
    <%= check_box_tag "destroy_logo_in_event", "1" %> 刪除檔案
  <% end %>
</div>
<div class="form-group">
  <h2><%= f.label :description ,"活動敘述"%></h2>
  <%= f.text_area :description, :class => "form-control" %>
</div>

<h3>活動上架狀態</h3> 
<div>
  <input type="radio" id="radio1" name="activity[status]" class="switch" value="0" 
    <%if @activity.status == 0 %>
      checked="checked" 
    <%else%>
    <%end%>
  />
  <label for="radio1">隱藏</label>
</div>
<br>
<div>
  <input type="radio" id="radio2" name="activity[status]" class="switch" value="1" 
    <%if @activity.status == 1 %>
      checked="checked" 
    <%else%>
    <%end%>
  />
  <label for="radio2">公開上架</label>
</div>
<br>

<h1>活動頁資訊</h1>
<hr>
<div class="form-group col-md-12" id="editor-activity-banner">
  <h2><%=f.label :banner, "活動banner"%></h2>
  <% if @activity.banner.exists? %>
    <%= image_tag(@activity.banner.url(:original))%>
  <%else%>
    <div style="color:red;">
      <%= "尚未有圖片"%>
    </div>  
  <% end %>

  <%=f.file_field :banner%>
  <% if @activity.banner.exists? %>
    <%= check_box_tag "destroy_banner", "1" %> 刪除檔案
  <% end %>
</div>
<br>

<div class="form-group">
  <h2><%=f.label :logo, "活動logo"%></h2>
  <% if @activity.logo.exists? %>
    <%= image_tag(@activity.logo.url(:medium))%>
  <%else%>
    <div style="color:red;">
      <%= "尚未有圖片"%>
    </div>  
  <% end %>

  <%=f.file_field :logo%>
  <% if @activity.logo.exists? %>
    <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
  <% end %>
</div>
<br>

<div class="form-group">
  <h2><%= f.label :milestone_logo_content, "里程碑logo" %></h2> 
  <%= f.text_area :milestone_logo_content, :class =>"froala-editor" %>
</div>

<div class="form-group">
  <h2><%= f.label :customers_target ,"目標人數"%></h2>
  <%= f.number_field :customers_target, :class => "form-control" %>
</div>

<hr> 

<h2>外部連結</h2>

<div class="form-group">
  <h4><%= f.label :fb_link ,"facebook 連結"%></h4>
  <%= f.text_field :fb_link, :class => "form-control", :placeholder =>"請輸入完整連結" %>
</div>

<div class="form-group">
  <h4><%= f.label :youtube_link ,"youtube 連結"%></h4>
  <%= f.text_field :youtube_link, :class => "form-control", :placeholder =>"請輸入完整連結" %>
</div>

<div class="form-group">
  <h4><%= f.label :ig_link ,"IG 連結"%></h4>
  <%= f.text_field :ig_link, :class => "form-control", :placeholder =>"請輸入完整連結"%>
</div>

<div class="form-group">
  <h4><%= f.label :webo_link ,"微博 連結"%></h4>
  <%= f.text_field :webo_link, :class => "form-control", :placeholder =>"請輸入完整連結" %>
</div>

<hr>

<div class="form-group col-md-9" id="editor-introduce" >
  <h2><%= f.label :content, "計畫介紹" %></h2>
  <%= f.text_area :content, :class =>"froala-editor"%>
</div>

<hr>
<h2>活動資訊</h2>
<div class="form-group col-md-7" id="editor-information-picture">
  <h3><%=f.label :information_picture, "活動資訊圖片"%></h3>
  <br>
  <% if @activity.information_picture.exists? %>
    <%= image_tag(@activity.information_picture.url(:original))%>
  <%else%>
    <div style="color:red;">
      <%= "尚未有圖片"%>
    </div>  
  <% end %>

  <%=f.file_field :information_picture%>
  <% if @activity.information_picture.exists? %>
    <%= check_box_tag "destroy_information_picture", "1" %> 刪除檔案
  <% end %>
</div>

<div class="clearfix"></div>

<div class="form-group">
  <h3><%= f.label :start_time ,"開始時間"%></h3>
  <%= f.datetime_select :start_time%>
</div>

<div class="form-group">
  <h3><%= f.label :end_time ,"結束時間"%></h3>
  <%= f.datetime_select :end_time%>
</div>

<div class="form-group">
  <h3><%= f.label :location ,"活動地點"%></h3>
  <%= f.text_field :location, :class => "form-control" %>
</div>

<div class="form-group col-md-7" id="editor-introduce">
  <h3><%= f.label :information, "活動資訊" %></h3>
  <%= f.text_area :information, :class =>"froala-editor" %>
  
</div>

<hr>
<h2>商品介紹</h2>

<div class="form-group col-md-9" id="editor-merchant-banner">
    <h3><%=f.label :merchant_banner, "商品banner"%></h3> 
    <% if @activity.merchant_banner.exists? %>
      <%= image_tag(@activity.merchant_banner.url(:original))%>
    <%else%>
      <div style="color:red;">
        <%= "尚未有圖片"%>
      </div>  
    <% end %>
    <%=f.file_field :merchant_banner%>

    <% if @activity.merchant_banner.exists? %>
      <%= check_box_tag "destroy_merchant_banner", "1" %> 刪除檔案
    <% end %>
</div>

<div class="form-group col-md-10" id="editor-introduce">
  <h3><%= f.label :merchant_description, "商品敘述" %></h3>
  <%= f.text_area :merchant_description, :class =>"froala-editor" %>
</div>

<hr></hr>

<%= f.submit "更新",:class => "btn btn-primary" %>

<hr>

<script>
  $(function() {
    $('.froala-editor').froalaEditor({
      imageUploadURL: '/attachment/upload.json',
      imageUploadMethod: 'POST'
    });
  });
</script>