<h3>
<%= link_to @event.name, admin_event_path(@event)%> 
>
<%= link_to "活動列表", admin_event_activities_path(@event)%> 
>
<%=@activity.name%>
</h3>

<h2>
  活動名稱：<%= @activity.name%>（<%= @activity.status_word%>）
  <%= link_to "編輯", edit_admin_event_activity_path(@event,@activity), :class => "btn btn-success" %>
</h2>
<hr>
<h3>活動 banner</h3>
<div class="div" id="activity-banner">
  <% if @activity.banner.exists? %>
    <%= image_tag(@activity.banner.url(:original))%>
  <%else%>
    <%= image_tag("miss.png")%>
  <%end%>
</div>
<br>
<h3>活動 logo</h3>
<div class="div" id="activity-logo">
  <% if @activity.logo.exists? %>
    <%= image_tag(@activity.logo.url(:original))%>
  <%else%>
    <%= image_tag("miss.png")%>
  <%end%>
</div>
<br>
<br>

<hr>

<div class="row">
    <div class="col-md-9">
      <h1 class = "text-center">
        活動里程碑 
        <%= link_to "+建立里程碑", new_admin_event_activity_activity_milestone_path(@event,@activity), :class => "btn btn-success" %>
      </h1>
      <div class="row">
        <h4>目標人數： 
          <% if @customers_target%>
            <%= @customers_target %>
          <%elsif @customers_target.nil?%>
            <%= link_to "＋新增目標人數", edit_admin_event_activity_path(@event,@activity), :class => "btn btn-success" %>
          <%end%>

        </h4>
        <h4>達成率：<%= @achievement%> % 
        ( 購買人數：<%= @merchant_people_count %>, 
          抽獎人數：<%= @lottery_people_count %> )
        </h4>

        <% count = 0%>
        <% @milestones.each do |milestone|%>
          <% count+= 1%>
          <%= link_to edit_admin_event_activity_activity_milestone_path(@event,@activity, milestone) do%>
            <div class="col-md-3 milestone-card" id ="#{count}">
              <h4>
                里程碑：<%= count %>
                
                <br>
                人數：<%= milestone.people%>
                <br>
                內容：<%= milestone.content%>
              </h4>
              <%= link_to "刪除", admin_event_activity_activity_milestone_path(@event,@activity, milestone), :method => :delete, :class => "pull-right btn btn-danger btn-sm", :data => {:confirm => "are_you_sure" }%>
            </div>
          <%end%>
        <%end%>
        <hr>
        
        <h3>里程碑logo</h3>
        <div class="div" id="milestone_logo">
          <%=raw @activity.milestone_logo_content%>
        </div>
      </div>
      <hr>

      <h1 class = "text-center">計畫介紹</h1>
      <div class="section">
        <div class="editor">
          <%=raw @activity.content%>
        </div>
      </div>
      
      <hr>

      <h1 class = "text-center">活動資訊</h1>

      <% if @activity.information_picture.exists? %>
        <div id="information_picture">
          <%= image_tag(@activity.information_picture.url(:original))%>
        </div>
      <%else%>
        <h1 class = "text-center">
          <%= link_to "新增圖片", edit_admin_event_activity_path(@event,@activity), :class => "btn btn-success" %>
        </h1>
      <%end%>
      <br>
      <div class="row section">
        <div class="editor">
          <div class="col-md-3">
            <h4>
              <i class="fa fa-home"></i> <br>
              <%= @activity.location%>
            </h4>
            <br>
            <h4>
              <i class="fa fa-clock-o"></i><br>
              開始時間：<br>
              <%if @activity.start_time%>
                <%= @activity.start_time.strftime('%F %R')%> 
              <%end%>
              <br>
              結束時間：<br>
              <%if @activity.end_time%>
                <%= @activity.end_time.strftime('%F %R')%>
              <%end%>
            </h4>
          </div>
          <div class="col-md-9">
            <%=raw @activity.information%>
          </div>
        </div>
        
      </div>
      <hr>

      <h1 class = "text-center">
        商品介紹
        <%= link_to "所有商品列表", admin_event_activity_merchants_path(@event,@activity), :class => "btn btn-info" %> 
        <%#= link_to "+建立商品", new_admin_event_activity_merchant_path(@event,@activity), :class => "btn btn-success" %>
      </h1>
      <div id="introduceProduct">
        <div class="row section">
          <div class="merchant-banner">
            <% if @activity.merchant_banner.exists? %>
              <%=image_tag(@activity.merchant_banner.url(:original))%>
            <%end%>
          </div>s
          <div class="merchant-description editor">
            <%= raw @activity.merchant_description%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h1 class = "text-center">
        支持方案 
        <%= link_to "+建立抽獎", new_admin_event_activity_lottery_path(@event,@activity), :class => "btn btn-success" %>
      </h1>
      <div class="row">
        <% @lotteries.each do |lottery|%>
          <div class="milestone-card">
            <%= link_to "刪除", admin_event_activity_lottery_path(@event,@activity, lottery), :method => :delete, :class => "pull-right btn btn-danger btn", :data => {:confirm => "are_you_sure" }%>
            <%= link_to "編輯", edit_admin_event_activity_lottery_path(@event,@activity, lottery), :class => "pull-right btn btn-success" %>
            <div class="lottery_info_card-<%=lottery.status%>">
              <% if lottery.logo.exists? %>
                <div class="lottery-logo">
                  <%= image_tag(lottery.logo.url(:thumb))%>
                </div>
              <%else%>
                <%= link_to "+建立圖片", edit_admin_event_activity_lottery_path(@event,@activity, lottery), :class => "btn btn-info" %>
              <%end%>
              <h4>
                <%= lottery.name%>
                <%if lottery.status == 1%>
                  (上架)
                <%elsif lottery.status == 0%>
                  (未上架)
                <%end%>
              </h4>
              <h4><i class="fa fa-star"></i><%= lottery.users_count%>人參加</h4>
              <%= lottery.description%>
              <h4><%= link_to "獎品介紹", lottery.url%></h4>
              <h4>
                推出時間: <%=lottery.push_time.strftime('%F %R')%> <br>
                抽獎時間: <%=lottery.start_time.strftime('%F %R')%> <br>
                結束時間: <%=lottery.end_time.strftime('%F %R')%>
              </h4>

            </div>
          </div>
        <%end%>
      </div>
    </div> 
</div>

