
<!DOCTYPE html>
<html>
<head>
  <title>IMHere</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container fr-view">
  <div class="row">
    <div class="col-md-12">
      <% if flash[:notice].present? %>
        <div style = "color: green">
          <%= flash[:notice]%>
        </div>
      <% end %>

      <% if flash[:alert].present? %>
        <div style = "color: red">
          <%= flash[:alert]%>
        </div>
      <% end %>

      <span class="h2">I'm here 管理員後台</span>
      <% if current_user %>
        <span class="h2 pull-right">hello! <%= current_user.name%></span>
        <%= link_to('登出', destroy_user_session_path, :method => :delete,:class => "btn btn-primary") %> |
        <%= link_to('修改密碼', edit_registration_path(:user),:class => "btn btn-primary") %> 
      <% else %>
        <%= link_to('註冊', new_registration_path(:user),:class => "btn btn-primary" )%> |
        <%= link_to('登入', new_session_path(:user),:class => "btn btn-primary" )%> |
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),:class => "btn btn-info" %>
      <% end %>
      | <%= link_to "管理策展", admin_events_path,:class => "btn btn-warning"%>
      | <%= link_to "管理使用者", admin_users_path,:class => "btn btn-warning"%>
      <%= yield %>

      <hr>
      
    </div>
  </div>
</div>


 
</body>
</html>