<!DOCTYPE html>
<html>
<head>
  <title>IMHere</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container">
 <h2>I'm here</h2>  
 <br>
  <% if current_user %>
    <%= link_to'登出', destroy_user_session_path, :method => :delete, :class =>"btn btn-default" %> |
    <%= link_to'修改密碼', edit_registration_path(:user), :class =>"btn btn-primary" %> |
    <%= link_to "Admin", admin_events_path, :class =>"btn btn-warning"%>
    hello! <%= current_user.name%> 
  <% else %>
     <%= link_to'註冊', new_registration_path(:user), :class =>"btn btn-default" %> 
    |
     <%= link_to'登入', new_session_path(:user), :class =>"btn btn-primary" %> 
    |
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class =>"btn btn-info" %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  

  <%= yield %>
  </div>
  
  

  

</body>
</html>
